.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  padding: var(--gutter);
  min-height: var(--footer-height);
  background-color: var(--color-03);
  color: var(--color-01);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer, .footer * {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.footer cite, .footer a {
  color: var(--color-06);
  font-weight: bold;
  opacity: 0.9;
}

.footer cite:hover, .footer a:hover {
  opacity: 1;
}

@media only screen and (min-width: 540px) {
  .footer, .footer * {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
