.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  padding: var(--gutter);
  height: var(--footer-height);
  background-color: var(--color-03);
  color: var(--color-01);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
